@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Bebas Neue', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color-light: white;
  --text-color-light: black;
  --bg-color-dark: black;
  --text-color-dark: white;
  --primary-color: #8b5cf6;
}

.dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}

.dark .button-primary {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}